@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

body {
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.box {
    width: 450px;
    padding: 40px;
    background: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.wrapper {
    position: absolute;
    width: 455px;
    height: 500px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    transform: rotate(5deg);
}

.header {
    margin-bottom: 50px;
    text-align: left;
}

.header p {
    font-size: 25px;
    font-weight: 800;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}

.input-box i {
    font-size: 22px;
    position: absolute;
    top: 35px;
    right: 12px;
    color: #595b5e;
}

.input-box input {
    height: 40px;
    border: 2px solid rgb(153, 157, 158);
    border-radius: 7px;
    margin: 7px 0;
    outline: none;
    padding: 0 10px;
    font-size: 17px;
    color: #333;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.input-box input:focus {
    border: 2px solid rgb(89, 53, 180);
}

.input-box input:focus ~ i {
    color: rgb(89, 53, 180);
}

input.input-submit {
    margin-top: 20px;
    background-color: #000; /* Background hitam */
    border: none;
    color: #fff; /* Teks berwarna putih */
    cursor: pointer;
    height: 40px;
    border-radius: 7px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

.input-submit:hover {
    background: #122b71;/* Background saat hover */
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.bottom span a {
    color: #727374;
    text-decoration: none;
}

.bottom span a:hover {
    text-decoration: underline;
}
