@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}
body{
  min-height: 100vh;
  background-image: url(img.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    background: transparent;
  }
.header-logo img{
    margin-right: 20px;
  }
  .brand{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    padding: 15px;
    text-transform: capitalize;
    gap: 20px;
  }
.navbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .navbar a{
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-left: 40px;
  }
  .btns {
    display: flex;
    align-items: flex-start;
  }
  
  .btns img {
    float: left;
    margin-right: 10px;
    left: 10px;
    width: 80px;
    height: 85px;
    border-radius: 50%;
  }
  
  .btns .text {
    align-self: flex-end;
    margin: 0;
    text-decoration: center;
    color: white;
  }
/* konten */
.about{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color : white;
    padding: 25px;
}
.about-img img{
    padding: 25px 20px;
    border-radius: 50px;
}
.about-text h2{
    text-transform: uppercase;
    font-size: 50px;
}
.about p{
    font-size: 25px;
}
.display p{
  backdrop-filter: blur(50px);
  font-size: 25px;
}
.display h2{
    font-size: 27px;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(50px);
}
/* footer */
footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    flex-direction: column;
  }
  footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .social_icon li{
    list-style: none;
  }
  footer .social_icon li a{
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  footer p{
    text-align: center;
    margin-top: 15px;
    display: inline-block;
  } 